body{
    background:lightgrey;
}
.myRow{
    margin:20px;
    padding-top: 20px;
}
.container-fluid{
    background:lightgrey;
    border:5px solid #222;
}
.food{
    padding:20px;
}
label{
    font-weight: bold;
    color:#4f4848;
}
.myTable{
    border: 1px  solid #222;
    margin: auto;
    background-color: aliceblue;
    box-shadow: 2px 5px 10px #333;
}

.colHeading{
    margin-left:25px;
    padding:20px;
    border:1px solid grey;
}
.colHeadingSpl{
    margin-left:100px;
    padding:20px;
    border:1px solid grey;
}
button{
    margin-bottom:20px;
}
.foodItem{
    margin-left: 15px;
    padding:20px;
}
@media screen and (max-width:500px){
    .submit{
        margin-left:100px;
    }
}
.head{
    text-align: center;
    color:rgb(207, 200, 200);
    background:#142F43;
    text-transform: uppercase;
    margin-top: 30px;
}
.cell{
    padding:20px;
    text-align: left;
    border:1px solid grey;
}
td{
    border:1px solid grey;
}